{% block main_content %}

<!-- House information -->
<section class="container py-5">
	<div class="row">
		<h1 class=" col-12 pt-5 mt-5 text-center vibes-cursive">
			{{ page_title }}
		</h1>
		<hr style="width: 25%">
		<div class="col-12">
			<div class="row pt-3">
				<div class=" col-md-6 py-3 px-3 card">
					<img class="card-img" src="{{ house.main_img.url }}" alt="{{ house.title }}" />
					<div class="card-img-overlay">
						<h2>
							<span class="badge badge-secondary text-white">&#36; {{ house.price }}</span>
						</h2>
					</div>
				</div>
				<div class=" col-md-6 card">
					<div class="card-body text-center">
						<div>
							<h4>{{ house.title }}</h4>
							<p class="py-3">
								<i class="fas fa-map-marker"></i> {{ house.city }}
								{{ house.state }}, {{ house.zipcode }}
							</p>
						</div>
						<div class="row py-2">
							<div class="col-6">
								<a href="{% url 'search_by_links' 'square_feet' %}">
									<i class="fas fa-th-large"></i> Sqft: {{ house.square_feet }}
								</a>
							</div>
							<div class="col-6">
								<a href="{% url 'search_by_links' 'garage' %}">
									<i class="fas fa-car"></i> Garage: {{ house.garage }}
								</a>
							</div>
						</div>
						<div class="row py-2">
							<div class="col-6">
								<a href="{% url 'search_by_links' 'bedrooms' %}">
									<i class="fas fa-bed"></i> Bedrooms: {{ house.bedrooms }}
								</a>
							</div>
							<div class="col-6">
								<a href="{% url 'search_by_links' 'bathrooms' %}">
									<i class="fas fa-bath"></i> Bathrooms: {{ house.bathrooms }}
								</a>
							</div>
						</div>
						<hr />
						<div class="row py-4">
							<div class="col-6">
								<a href="{% url 'houses' %}">
									<i class="fas fa-clock"></i> {{ house.list_date | date }}
								</a>
							</div>
							<div class="col-6">
								<a href="{% url 'search_by_user' house.seller.id %}">
									<i class="fas fa-user"></i> {{ house.seller | title }}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if house.img_1 or house.img_2 or house.img_3 or house.img_4 or house.img_5 or house.img_6 %}
		<!-- Slide show (light box) -->
		<div class="col-12">
			<div class="row py-3 bg-white justify-content-center">
				{% if house.img_1 %}
				<div class="col-md-2 mb-3">
					<a href="{{ house.img_1.url }}" data-lightbox="home-images">
						<img src="{{ house.img_1.url }}" alt="" class="house-secondary-img img-fluid">
					</a>
				</div>
				{% endif %}
				{% if house.img_2 %}
				<div class="col-md-2 mb-3">
					<a href="{{ house.img_2.url }}" data-lightbox="home-images">
						<img src="{{ house.img_2.url }}" alt="" class="house-secondary-img img-fluid">
					</a>
				</div>
				{% endif %}
				{% if house.img_3 %}
				<div class="col-md-2 mb-3">
					<a href="{{ house.img_3.url }}" data-lightbox="home-images">
						<img src="{{ house.img_3.url }}" alt="" class="house-secondary-img img-fluid">
					</a>
				</div>
				{% endif %}
				{% if house.img_4 %}
				<div class="col-md-2 mb-3">
					<a href="{{ house.img_4.url }}" data-lightbox="home-images">
						<img src="{{ house.img_4.url }}" alt="" class="house-secondary-img img-fluid">
					</a>
				</div>
				{% endif %}
				{% if house.img_5 %}
				<div class="col-md-2 mb-3">
					<a href="{{ house.img_5.url }}" data-lightbox="home-images">
						<img src="{{ house.img_5.url }}" alt="" class="house-secondary-img img-fluid">
					</a>
				</div>
				{% endif %}
				{% if house.img_6 %}
				<div class="col-md-2 mb-3">
					<a href="{{ house.img_6.url }}" data-lightbox="home-images">
						<img src="{{ house.img_6.url }}" alt="" class="house-secondary-img img-fluid">
					</a>
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}		
	</div>
</section>

<!-- Address -->
<section class="container py-5">
	<h2 class="text-left">Full address</h2>
	<hr class="mb-5" />
	<!-- Google map and Seller -->
	<div class="col-12">
		<div class="row">
			<div class=" col-md-6 card">
				<div class="card-body">
					<div class="row">
						<div class="col-12 my-2">
							<p class="my-2"><span class="font-weight-bold">Address:</span> {{ house.address }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 my-2">
							<p class="my-2"><span class="font-weight-bold">City:</span> {{ house.city }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 my-2">
							<p class="my-2"><span class="font-weight-bold">Zipcode:</span> {{ house.zipcode }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 my-2">
							<p class="my-2"><span class="font-weight-bold">State:</span> {{ house.state }}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Google maps -->
			<div id="google-map" class=" col-md-6 card"></div>
		</div>
	</div>
</section>
<!-- House description -->
{% if house.description %}
<section class="container py-5">
	<h2 class="text-left">Property Description</h2>
	<hr class="mb-5" />
	<div class="row justify-content-center bg-white">
		<div class="col-md-11 text-left">
			<p class="py-5">
				{{ house.description }}
			</p>
		</div>
	</div>
</section>
{% else %}
{% endif %}
{% block btns %}

{% endblock btns %}
{% endblock main_content %}