<div id="search-form" class="container">
    <form action="{% url 'search' %}">
        <div class="row">
            <div class="col-md-8">
                <label class="sr-only">Keywords</label>
                <input typle="text" name="keywords" class="form-control" placeholder="keywords">
            </div>
            <div class="col-md-4">
                <label class="sr-only">City</label>
                <select name="city" class="form-control">
                				<option selected="true" disabled>City</option>
								<option value="andalucia">Andalucia</option>
								<option value="almeria">Almeria</option>
								<option value="alcudia">Alcudia</option>
								<option value="alicante">Alicante</option>
								<option value="avila">Avila</option>
								<option value="barcelona">Barcelona</option>
								<option value="balearic islands">Balearic islands</option>
								<option value="benalmadena">Benalmadena</option>
								<option value="benidorm">Benidorm</option>
								<option value="bilbao">Bilbao</option>
								<option value="canary islands">Canary Islands</option>
								<option value="catalonia">Catalonia</option>
								<option value="costa almeria">Costa Almeria</option>
								<option value="costa blanca">Costa Blanca</option>
								<option value="costa del sol">Costa Del Sol</option>
								<option value="costa de la luz">Costa De La Luz</option>
								<option value="costa dorada">Costa Dorada</option>
								<option value="cordoba">Cordoba</option>
								<option value="costa calida">Costa Calida</option>
								<option value="costa brava">Costa Brava</option>
								<option value="estepona">Estepona</option>
								<option value="formentera">Formentera</option>
								<option value="fuengirola">Fuengirola</option>
								<option value="fuerteventura">Fuerteventura</option>
								<option value="galicia">Galicia</option>
								<option value="girona">Girona</option>
								<option value="granada">Granada</option>
								<option value="gran canaria">Gran Canaria</option>
								<option value="huelva">Huelva</option>
								<option value="ibiza">Ibiza</option>
								<option value="jerez">Jerez</option>
								<option value="la manga">La Manga</option>
								<option value="lanzarote">Lanzarote</option>
								<option value="lloret de mar">Lloret De Mar</option>
								<option value="madrid">Madrid</option>
								<option value="mahon">Mahon</option>
								<option value="majorca">Majorca</option>
								<option value="malaga">Malaga</option>
								<option value="marbella">Marbella</option>
								<option value="menorca">Menorca</option>
								<option value="murcia">Murcia</option>
								<option value="palma majorca">Palma Majorca</option>
								<option value="pamplona">Pamplona</option>
								<option value="playa americas">Playa Americas</option>
								<option value="pollensa">Pollensa</option>
								<option value="ronda">Ronda</option>
								<option value="san sebastian">San Sebastian</option>
								<option value="seville">Seville</option>
								<option value="segovia">Segovia</option>
								<option value="tenerife">Tenerife</option>
								<option value="toledo">Toledo</option>
								<option value="torremolinos">Torremolinos</option>
								<option value="zaragoza">Zaragoza</option>
								<option value="valencia">Valencia</option>
							</select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="sr-only">Bedrooms</label>
                <select name="bedrooms" class="form-control">
					<option selected="true" disabled>Bedrooms</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
            </div>
            <div class="col-md-6">
                <select name="price" class="form-control" id="type">
					<option selected="true" disabled>Max Price</option>
					<option value="100000">&#36; 100 000</option>
					<option value="200000">&#36; 200 000</option>
					<option value="300000">&#36; 300 000</option>
					<option value="400000">&#36; 400 000</option>
					<option value="500000">&#36; 500 000</option>
					<option value="600000">&#36; 600 000</option>
					<option value="700000">&#36; 700 000</option>
					<option value="800000">&#36; 800 000</option>
					<option value="900000">&#36; 900 000</option>
					<option value="1000000">&#36; 1 000 000 +</option>
				</select>
            </div>
        </div>
        <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
    </form>
</div>
