{% extends "base.html" %} {% load bootstrap4 %} {% block content %}
<header id="page-header" class="container-fluid">
<section class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 >Change Password</h2>
			<div class="row">
				<form method="POST" class="col-xs-12">
					<input type="hidden" name="csrfmiddlewaretoken" value="yRqRRlucq1cP8ZjbBl3xjbFVrDuRfdZxk45hKOqL6C4lw3OyBOqDoUNCLvsAvLqA">
					<div class="form-group"><label class="sr-only" for="id_old_password">Old password</label><input type="password" name="old_password" autofocus class="form-control" placeholder="Old password" title="" required id="id_old_password"></div>
					<div class="form-group"><label class="sr-only" for="id_new_password1">New password</label><input type="password" name="new_password1" class="form-control" placeholder="New password" title="Your password can&amp;amp;#39;t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can&amp;amp;#39;t be a commonly used password.Your password can&amp;amp;#39;t be entirely numeric."
						 required id="id_new_password1"></div>
					<div class="form-group"><label class="sr-only" for="id_new_password2">New password confirmation</label><input type="password" name="new_password2" class="form-control" placeholder="New password confirmation" title="" required id="id_new_password2"></div>
					{% csrf_token %}
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-block">
					Change my password!
				</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
	{% endblock %}
