{% extends "base.html" %} {% load bootstrap4 %} {% block content %}
<!-- profile edit form -->
<section class="container">
    <div class="row">
        <div class="col-12">
            <form method="POST"  >
                				<a href="{% url 'profile' %}">
					<i class="fas fa-user-edit"></i>
					<span class="text-success">Back to Profile</span>
				</a>
                {% csrf_token %}
                <fieldset>
                    <legend class="">Edit Profile {{ user|title }}</legend>

					{% bootstrap_form user_form layout='horizontal' %}
					{% bootstrap_form profile_form layout='horizontal' %}

				</fieldset>
				<p class=""></p>
				<p class="">If you want to change your password
				<a href="{% url 'password_change' %}">
					<i class="fas fa-user-edit"></i>
					<span class="text-success">Edit your profile Password</span>
				</a>
				</div>	
								<div class="form-group text-right">
					{% buttons %}
					<button type="submit" class="btn btn-success">Submit changes</button>
					{% endbuttons %}
				</div>
            </form>
        </div>
    </div>
</section>
{% endblock %}