{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}


<section class="container">
<div class="card col-xs-12">	
	<div class="row">
			<h1 class="">Welcome {{ user.username|title }}</h1>
			<p class="">
				<a href="{% url 'edit_profile' %}">
					<i class="fas fa-user-edit"></i>
					<span class="text-success">Edit your profile</span>
				</a>
			</p>
			<div>
				<div class="row">
					{% if user.img %}
					<div class="col-md-6">
						<img src="{{ user.img.url }}" alt="Profile  picture">
					</div>
					{% else %}
					<div class="col-md-6">
						<img src="https://project5-full-stack-frameworks.s3-eu-west-1.amazonaws.com/media/images/profile_avatar.png"  alt="Profile picture">
					</div>
					{% endif %}
					<div class="col-md-6">
						<ul class="">
							<li class="">
								<span class="">Profile name:</span> {{ user.username|title }} {% if user.first_name or user.last_name %}
								<hr> {% if user.first_name and user.last_name %}
								<span class="">First name:</span> {{ user.first_name|title }} | <span class="font-weight-bold">Last name:</span> {{ user.last_name|title }} {% else %} {% if user.first_name %}
								<span class="">First name:</span> {{ user.first_name|title }} {% endif %} {% if user.last_name %}
								<span class="">Last name:</span> {{ user.last_name|title }} {% endif %} {% endif %} {% endif %}
							</li>
							{% if user.email %}
							<li class="">
								<span class="">Your email:</span> {{ user.email }}
							</li>
							{% else %}
							<li class="">
								<span class="">Your email:</span> You did not provide your email address.
							</li>
							{% endif %} {% if user_profile.phone %}
							<li class="">
								<span class="">Your phone:</span> {{ user_profile.phone }}
							</li>
							{% else %}
							<li class="">
								<span class="">Your phone:</span> You have not yet added a phone number.
							</li>
							{% endif %}
							<li class="">
								<span class="">Joined:</span> {{ user.date_joined }}
							</li>
							{% if user_profile.description %}
							<li class="">
								<span class="">Description:</span>
							</li>
							{{ user_profile.description }} {% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	</div>
	<div class="row">
		<div class="card col-xs-12">
			{% if listings %}
			<h1 class="">Your listings:</h1>
			<hr/>
				<div id="listings" class="row">
					{% for house in listings %}
{% include "partials/listings_small_display.html" %}
					{% endfor %}
				</div>
			</div>
			{% else %}
			<h5 class="">You have not listed any houses yet!.</h5>
			<p class="">
				<a href="{% url 'addhouse' user.id %}" class="" style="color: #317eac;">
					Add Listing!
				</a>
			</p>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}
