{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap4 %} 
{% block content %}


<section class="container">
    <div>
        <h4>User Listing</h4>
    </div>
    <div id="content-main">
        <form enctype="multipart/form-data" action="" method="POST" >
           {% csrf_token %}
            <!--- Property Name --->
            <fieldset class="module aligned ">
                <div class="form-row field-name">
                    <div>
                        <legend class="required" for="id_name">Property Name:</legend>
                        {% bootstrap_field placeholder='' show_label=False field=form.title %}
                    </div>
                </div>
            </fieldset>
            <!--- Property Address --->
            <fieldset>
                <div class="form-row field-description">
                    <legend class="required" for="id_address">Address:</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address">Address</label><span style="color: red !important; display: inline; float: none;">*</span>
                            {% bootstrap_field placeholder='' show_label=False field=form.address %}                        
                            </div>
                        <div class="col-md-6">
                            <label for="address">City</label><span style="color: red !important; display: inline; float: none;">*</span>
                            {% bootstrap_field placeholder='' show_label=False field=form.city %}
                        </div>
                        <!--<div class="col-md-6">-->
                        <!--    <label for="address">Postcode</label><span style="color: red !important; display: inline; float: none;">*</span>-->
                        <!--    <input type="text" name="name" class="vTextField" maxlength="254" required="" id="id_postcode">-->
                        <!--</div>-->
                        <div class="col-md-4">
							<label for="state">State</label><span style="color: red !important; display: inline; float: none;">*</span>
							<select name="state" class="form-control">
								<option value="Alabama">Alabama</option>
								<option value="Alaska">Alaska</option>
								<option value="Arizona">Arizona</option>
								<option value="Arkansas">Arkansas</option>
								<option value="California">California</option>
								<option value="Colorado">Colorado</option>
								<option value="Connecticut">Connecticut</option>
								<option value="Delaware">Delaware</option>
								<option value="District Of Columbia">District Of Columbia</option>
								<option value="Florida">Florida</option>
								<option value="Georgia">Georgia</option>
								<option value="Hawaii">Hawaii</option>
								<option value="Idaho">Idaho</option>
								<option value="Illinois">Illinois</option>
								<option value="Indiana">Indiana</option>
								<option value="Iowa">Iowa</option>
								<option value="Kansas">Kansas</option>
								<option value="Kentucky">Kentucky</option>
								<option value="Louisiana">Louisiana</option>
								<option value="Maine">Maine</option>
								<option value="Maryland">Maryland</option>
								<option value="Massachusetts">Massachusetts</option>
								<option value="Michigan">Michigan</option>
								<option value="Minnesota">Minnesota</option>
								<option value="Mississippi">Mississippi</option>
								<option value="Missouri">Missouri</option>
								<option value="Montana">Montana</option>
								<option value="Nebraska">Nebraska</option>
								<option value="Nevada">Nevada</option>
								<option value="New Hampshire">New Hampshire</option>
								<option value="New Jersey">New Jersey</option>
								<option value="New Mexico">New Mexico</option>
								<option value="New York">New York</option>
								<option value="North Carolina">North Carolina</option>
								<option value="North Dakota">North Dakota</option>
								<option value="Ohio">Ohio</option>
								<option value="Oklahoma">Oklahoma</option>
								<option value="Oregon">Oregon</option>
								<option value="Pennsylvania">Pennsylvania</option>
								<option value="Rhode Island">Rhode Island</option>
								<option value="South Carolina">South Carolina</option>
								<option value="South Dakota">South Dakota</option>
								<option value="Tennessee">Tennessee</option>
								<option value="Texas">Texas</option>
								<option value="Utah">Utah</option>
								<option value="Vermont">Vermont</option>
								<option value="Virginia">Virginia</option>
								<option value="Washington">Washington</option>
								<option value="West Virginia">West Virginia</option>
								<option value="Wisconsin">Wisconsin</option>
								<option value="Wyoming">Wyoming</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="zipcode">Zipcode</label><span style="color: red !important; display: inline; float: none;">*</span>
							{% bootstrap_field placeholder='' show_label=False field=form.zipcode %}
						</div>                        
                    </div>
                </div>
            </fieldset>
            <!--- Property Information --->
            <fieldset>
                <legend class="required" for="id_propertyinfo">Property Info</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label for="property">Property Price</label><span style="color: red !important; display: inline; float: none;">*</span>
                        {% bootstrap_field placeholder='' show_label=False field=form.price %}
                    </div>
                    <div class="col-md-6">
                        <label for="property">Number of square foot</label><span style="color: red !important; display: inline; float: none;">*</span>
                        {% bootstrap_field placeholder='' show_label=False field=form.square_feet %}
                    </div>
                    <div class="col-md-6">
                        <label for="property">Number of Bedrooms</label><span style="color: red !important; display: inline; float: none;">*</span>
                        {% bootstrap_field placeholder='' show_label=False field=form.bedrooms %}
                    </div>
                    <div class="col-md-6">
                        <label for="property">Number of Bathrooms</label><span style="color: red !important; display: inline; float: none;">*</span>
                        {% bootstrap_field placeholder='' show_label=False field=form.bathrooms %}
                    </div>
                    <div class="col-md-6">
                        <label for="property">Number of Garages</label><span style="color: red !important; display: inline; float: none;">*</span>
                        {% bootstrap_field placeholder='' show_label=False field=form.garage %}
                    </div>
                </div>
    </div>
    </fieldset>
    <!--- Property Images --->
    <fieldset>
        <legend class="required" for="id_propertyimages">Property Images</legend>
		<div class="row">
						<div class="col-md-6">
							<div class="row justify-content-around">
								<label for="main_img">Image 1<span style="color: red !important; display: inline; float: none;">*</span></label>
								{% bootstrap_field layout='horizontal' placeholder='' show_label=False field=form.main_img %}
							</div>
							<div class="row justify-content-around">
								<label for="main_img">Image 2</label>
								{% bootstrap_field placeholder='' show_label=False field=form.img_1 %}
							</div>
							<div class="row justify-content-around">
								<label for="main_img">Image 3</label>
								{% bootstrap_field placeholder='' show_label=False field=form.img_2 %}
							</div>							
						</div>
						<div class="col-md-6">	
							<div class="row justify-content-around">
								<label for="main_img">Image 4</label>
								{% bootstrap_field placeholder='' show_label=False field=form.img_3 %}
							</div>
							<div class="row justify-content-around">
								<label for="main_img">Image 5</label>
								{% bootstrap_field placeholder='' show_label=False field=form.img_4 %}
							</div>
							<div class="row justify-content-around">
								<label for="main_img">Image 6</label>
								{% bootstrap_field placeholder='' show_label=False field=form.img_5 %}
							</div>
						</div>
					</div>
    </fieldset>
        <!--- Property Description --->
    <fieldset>
        <legend class="required" for="id_propertydescription">Property Description</legend>
        <div class="row">
            {% bootstrap_field placeholder='' show_label=False field=form.description %}

        </div>
    </fieldset>
				{% buttons %}
				<button type="submit" class="btn btn-success float-right">Preview <i class="fas fa-angle-double-right"></i></button>				
				{% endbuttons %}
				<!-- Store user ID -->
				<input type="hidden" name="seller" value="{{ user.id }}">
    </form>


    </div>
</section>



{% endblock %}
