{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap4 %}


{% block content %}

<section class="container">
    <div class="row" >
        		<form enctype="multipart/form-data" action="" method="POST">
			{% csrf_token %}
			<!--- Property Name --->
	<fieldset class="form-group">
					<legend class="col-12">Title of the property <span >*</span></legend>
					<hr>
				<div class="form-row field-name">
					<div>
						<legend class="required" for="id_name">Property Name:</legend>
                    {% bootstrap_field placeholder='' show_label=False field=form.title %}					
                    </div>
				</div>
			</fieldset>

				{% buttons %}
				<button type="submit" class="btn btn-success float-right">Next <i class="fas fa-angle-double-right"></i></button>				
				{% endbuttons %}
				<!-- Store user ID -->
				<input type="hidden" name="seller" value="{{ user.id }}">
			</form>
    </div>
</section>

{% endblock %}