{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap4 %}


{% block content %}

<section class="container" id="listings">
<div id="house-btns" class="container">
	<div class="row justify-content-around">
            <h1 style="text-align:center;">{{ house.title }}</h1>
	        <img class="card-img-top" style="width: 100%;" src="{{ house.main_img.url }}" alt="{{ house.title }}" />            
            <div class="col-xs-12" style="background-color: lavender; padding: 25px; font-size: large; font-family: cursive;" >
            <div class="col-xs-6"><p><i class="fa fa-bed" aria-hidden="true"></i> Bedrooms {{ house.bedrooms }}</p></div>
           	<div class="col-xs-6"><p><i class="fa fa-bath" aria-hidden="true"></i> Bathrooms {{ house.bathrooms }}</p></div>
           	<div class="col-xs-6"><p><i class="fa fa-car" aria-hidden="true"></i> Garage {{ house.garage }}</p></div>
            <div class="col-xs-6"><p><i class="fa fa-plus-square-o" aria-hidden="true"></i> Square Feet:- {{ house.square_feet }}</p></div>
           	<div class="col-xs-6"><p><i class="fa fa-eur" aria-hidden="true"></i> Price {{ house.price }}</p></div>
           	<div class="col-xs-12"><p><i class="fa fa-map-marker" aria-hidden="true"></i> Address {{ house.address }} {{ house.zipcode }}</p></div>
            <div class="col-xs-2"><p>{{ house.img_1 }}</p></div>
            <div class="col-xs-2"><p>{{ house.img_2 }}</p></div>
            <div class="col-xs-2"><p>{{ house.img_3 }}</p></div>
            <div class="col-xs-2"><p> {{ house.img_4 }}</p></div>
            <div class="col-xs-2"><p >{{ house.img_5 }}</p></div>
            <div class="col-xs-12" >
             <p class="listing-description"><i class="fa fa-align-justify" aria-hidden="true"></i> Description:- {{ house.description }}</p>
             </div>
             <div class="col-xs-12"><p><i class="fa fa-user" aria-hidden="true"></i> Owner {{ house.seller }}</p></div>
           

<div id="house-btns" class="col-xs-12 container">
	<div class="row justify-content-around">
		{% if user.is_authenticated and user == house.seller %}
			<button class="btn btn-danger"  type="button" data-toggle="modal" data-target="#delete-house">Delete listing</button>
			<a href="{% url 'edit_house' user.id house.id %}" class="btn btn-warning">Edit listing</a>
		{% else %}
		{% if user.is_authenticated%}
			<button class="btn btn-success" type="button" data-toggle="modal" data-target="#enquire-modal" >Contact {{ house.seller|title }}
			</button>
		{% else %}
			<h5 class="text-center col-xs-12">You must me logged in to contact {{ house.seller|title }}</h5>
			<br>
			<p class="text-center col-xs-12 font-weight-bold">Please
				<a href="{% url 'login' %}?next={{request.path}}" class="text-success" >login</a> or
				<a href="{% url 'register' %}?next={{request.path}}" class="text-success"> register new account</a>!
			</p>
		{% endif %}			
		{% endif %}
	</div>
</div>
 </div>
</section>
{% include "partials/modals/delete_house.html" %}
{% include "partials/modals/_enquire_modal.html" %}
{% endblock %}