{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap4 %}


{% block content %}

{% include "partials/searchform.html" %}
<section class="container" id="listings">
    {% for listing in listings %} 
    <div class="col-xs-11 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="listing" style="background-image: url('{{ MEDIA_URL }}{{ listing.image }}')"></div>
            
            <h3>{{ listing.title}}</h3>
             <p>Bedrooms:- {{listing.bedrooms}}</p>
            <p>Bathromms:- {{listing.bathrooms}}</p>
            <p>Price:- {{listing.price}}</p>
            <p class="listing-description">Description:- {{listing.description}}</p>
           
            <button class="nav-link" href="{% url 'house' house.id  %}">Information</button>
 
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}