{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap4 %}


{% block content %}

{% include "partials/searchform.html" %}
<section class="container" id="listings">
    {% if listings %} 
			{% for house in listings %}
    <div class="col-xs-11 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="listing" style="background-image: url('{{ MEDIA_URL }}{{ house.image }}')"></div>
            
            <h3>{{ house.title}}</h3>
             <p>Bedrooms:- {{house.bedrooms}}</p>
            <p>Bathromms:- {{house.bathrooms}}</p>
            <p>Price:- {{house.price}}</p>
            <p class="listing-description">Description:- {{house.description}}</p>
           
            <button class="nav-link" href="{% url 'house' house.id  %}">Information</button>
 
        </div>
        
    </div>
    	{% endfor %} 
			{% else %}
			<div class="col-md-12 text-center text-danger"><p>No Avaliable Listings</p></div>
			{% endif %}
		</div>
</section>

{% endblock %}