{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap4 %}


{% block content %}

<section class="container" id="listings">
<div id="house-btns" class="container pb-5">
	<div class="row justify-content-around py-3">
	                <img class="card-img-top" style="height: 100px;" src="{{ house.main_img.url }}" alt="{{ house.title }}" />            
            <h3>{{ house.title}}</h3>
             <p>Bedrooms:- {{house.bedrooms}}</p>
            <p>Bathromms:- {{house.bathrooms}}</p>
            <p>Price:- {{house.price}}</p>
            <p class="listing-description">Description:- {{house.description}}</p>
           
     						
		{% if user.is_authenticated and user == house.seller %}
			<button class="btn btn-danger my-2 my-sm-0" type="button" data-toggle="modal" data-target="#delete-house-modal">Delete
				your listing</button>
			<a href="{% url 'edit_house' user.id house.id %}" class="btn btn-warning">Edit your listing</a>
		{% else %}
		{% if user.is_authenticated%}
			<button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#enquire-modal">Contact {{ house.seller|title }}
			</button>
		{% else %}
			<h5 class="text-center col-12">You must me logged in to contact {{ house.seller|title }}</h5>
			<br>
			<p class="text-center col-12 font-weight-bold">Please
				<a href="{% url 'login' %}?next={{request.path}}" class="text-success">login</a> or
				<a href="{% url 'register' %}?next={{request.path}}" class="text-success"> register new account</a>!
			</p>
		{% endif %}			
		{% endif %}
	</div>
</div>
</section>

{% endblock %}