{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap4 %} {% block content %}

<section class="container">
	<div class="row">
		   <h1 class="h1-text-align-center">{{ house.title }}</h1>
	        <img class="card-img-top width-100" src="{{ house.main_img.url }}" alt="{{ house.title }}" />            
            <div class="col-xs-12 house-label" >
            <div class="col-xs-6"><p><i class="fa fa-bed" aria-hidden="true"></i> Bedrooms {{ house.bedrooms }}</p></div>
           	<div class="col-xs-6"><p><i class="fa fa-bath" aria-hidden="true"></i> Bathrooms {{ house.bathrooms }}</p></div>
           	<div class="col-xs-6"><p><i class="fa fa-car" aria-hidden="true"></i> Garage {{ house.garage }}</p></div>
            <div class="col-xs-6"><p><i class="fa fa-plus-square-o" aria-hidden="true"></i> Square Feet:- {{ house.square_feet }}</p></div>
           	<div class="col-xs-6"><p><i class="fa fa-eur" aria-hidden="true"></i> Price {{ house.price }}</p></div>
           	<div class="col-xs-12"><p><i class="fa fa-map-marker" aria-hidden="true"></i> Address {{ house.address }} {{ house.zipcode }}</p></div>
            <div class="col-xs-2"><p>{{ house.img_1 }}</p></div>
            <div class="col-xs-2"><p>{{ house.img_2 }}</p></div>
            <div class="col-xs-2"><p>{{ house.img_3 }}</p></div>
            <div class="col-xs-2"><p> {{ house.img_4 }}</p></div>
            <div class="col-xs-2"><p >{{ house.img_5 }}</p></div>
            <div class="col-xs-12" >
              <p class="listing-description"><i class="fa fa-align-justify" aria-hidden="true"></i> Description:- {{ house.description }}</p>
             </div>
             <div class="col-xs-12"><p><i class="fa fa-user" aria-hidden="true"></i> Owner {{ house.seller }}</p></div>
      </div> 
      </div>
</section>
<hr/>
<!-- Contact or Edit -->
<section class="container text-align-center">
	<div class="row">
		<div class="col-xs-3 btn btn-success"  style="float:left">
			<a href="{% url 'addhouse' user.id %}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
		</div>
		<div class="col-xs-3 btn btn-success" style="float:right; right: -50%;">
			<a href="{% url 'pay_fee' user.id house.id %}">Pay Fee <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
		</div>
	</div>
</section>
{% endblock %}
