{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap4 %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            {% include "partials/searchform.html" %}
        </div>
    </div>
</section>
<section class="container">
	<div class="row">
		    	<div class="col-xs-6">
		<h3 class="text-center">
			{% for k,v in values.items %}
			{% if v|length > 0 %}
				{{ k|title }}: <span class="text-success">{{ v }}</span>,
			{% endif %}
			{% endfor %}
		</h3>
	</div>

		    <div class="col-xs-6">
        <h3><span class="
					{% if listings|length > 0 %}
					text-success	
					{% else %}
					text-danger
					{% endif %}
					">{{ listings|length }}
			</span>
			listings Found</h3>
    </div>
	</div>

</section>
<section class="container" id="listings">
    {% for listing in listings %} 
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="listing" style="background-image: url('{{ MEDIA_URL }}{{ listing.image }}')"></div>
            
            <h3>{{ listing.title}}</h3>
             <p>Bedrooms:- {{listing.bedrooms}}</p>
            <p>Bathromms:- {{listing.bathrooms}}</p>
            <p>Price:- {{listing.price}}</p>
            <p class="listing-description">Description:- {{listing.description}}</p>
           
            <button class="nav-link" href="{% url 'house' house.id  %}">Information</button>
 
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}